# Configuration Cloud9 Files
.c9/

# Log Files
*.log

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage
.grunt

# Dependency directory
node_modules/

# ExtJS
.architect
build/

# resumable
tmp/