# Configuration Cloud9 Files
.c9/

# Log Files
*.log

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directory
node_modules

# ExtJS
.architect
build/