<!DOCTYPE HTML>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="http://cdn.webix.com/edge/webix.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
    <style type="text/css">
      html, body {
        height: 100%;
        padding:0;
        margin:0;
        overflow:hidden;
        background: url("Images/pexels-photo.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>
    
    </head>
    <body>
      <span class="fa fa-search" onclick='$$("s1").setValue("");$$("resultSearch").clearAll();$$("my_win").show();'></span>
      
      <div id="dataA"></div>
      <div id="item_tpl" style="display:none;">
        <div style="font-size: x-small;">
          <div style="float:left;">
            <img src="#poster_path#"/>
          </div>
          <div style="float:right; margin: -24px 0px 0px 0px;">
            <p>(#media_type#)</p>
          </div>
          <div style="margin: 5px 0px 0px 100px;">
            <div class="webix_strong">#title#</div>
            <ul style="list-style-type:none;margin: 0px 0px 0px -35px;" >
              <li> Release date: #release_date#</li>
              <li>Popularity: #popularity#</li>
            </ul>
          </div>
        </div>
      </div>
      
      
      <div id="item_big" style="display:none;">
        <div class="webix_strong">#title#</div>
        <img src="#poster_path#"/>
          <ul style="list-style-type:none" >
            <li> Release date: #release_date#</li>
            <li>Popularity: #popularity#</li>
          </ul>
        </div>
      </div>
      
      <script src="/socket.io/socket.io.js"></script>
      <script type="text/javascript" src="http://cdn.webix.com/edge/webix.js"></script>
      <script type="text/javascript" charset="utf-8">
        webix.ready(function(){
          
          
          var baseIMG = 'http://image.tmdb.org/t/p/';
          var tailleIMG = 'w92';
          var noIMG = 'https://assets.tmdb.org/assets/7f29bd8b3370c71dd379b0e8b570887c/images/no-poster-' + tailleIMG + '-v2.png';
          noIMG = 'https://assets.tmdb.org/assets/7f29bd8b3370c71dd379b0e8b570887c/images/no-poster-w185-v2.png';
          
          var baseQuery = 'http://api.themoviedb.org/3/search/multi?query=';
          var apiKey = '&api_key=030aa3a0192fff64bad4b5465fabcb11';
          var nbPage = '&page=1';
          var language = '&language=fr&include_image_language=fr';
          var query = baseQuery + 'star+wars' + apiKey + nbPage + language;
          
          
          
          var header = {
            container:"dataA",
            rows:[
              {view:"template", template:"", type:"header", height:5 },
              {cols:[
                { id:"s1", view:"search", placeholder:"Enter name of a movie or a serie...",
                  /*css:"demo_search", click: majInfo, hotkey: "enter"*/ }
              ]}
            ]
          };
          
          
          var resultSearch = {
            view:"dataview",
            id: 'resultSearch',
            select: true,
            type: {
              width: 250,
              height: 150
            },
            template: "html->item_tpl",
            scheme:{
    					$init:function(obj) {
  					    if (obj.poster_path == null) {
    					    webix.message('no IMG Path for this : ' + obj.title);
    					    obj.poster_path = noIMG;
    					  }
    					  else {
      					  if (obj.media_type == 'movie') {
        						obj.poster_path = baseIMG + tailleIMG + obj.poster_path;
      					  }
      					  else if (obj.media_type == 'tv') {
      					    obj.title = obj.name;
      					    obj.release_date = obj.first_air_date;
      					    obj.poster_path = baseIMG + tailleIMG + obj.poster_path;
      					  }
    					  }
    					}
    				},
            
            
        //     on: {
    				// 	onBeforeLoad: function() {
    				// 		this.showOverlay("Loading...");
    				// 	},
    				// 	onAfterLoad: function() {
    				// 		this.hideOverlay();
    				// 	}
    				// },
    				// ready: function() {
    				// 	if (!this.count()) {
    				// 		webix.extend(this, webix.OverlayBox);
    				// 		this.showOverlay("<div style='margin:75px; font-size:20px;'>There is no data</div>");
    				// 	}
    				// },
            // url: query,
            xCount: 3, //the number of items in a row
            yCount: 3 //the number of items in a column
          };
            
          // var scrollView = {
          //   view: "scrollview",
          //   id: "scrollview",
          //   width: 300,
          //   scroll: "y",
          //   body: {
          //       rows:[
          //           { id:"verse_1", template:"html->item_big", autoheight:true, autowidth:true}//,
          //           // { template:"<i>Scroll down for the next verse</i>", height:30},
          //           // { id:"verse_2", template:"html->my_box2", autoheight:true},
          //           // { template:"<i>Scroll down for the next verse</i>", height:30},
          //           // { id:"verse_3", template:"html->my_box3", autoheight:true},
          //           // { template:"<i>Scroll down for the next verse</i>", height:30},
          //           // { id:"verse_4", template:"html->my_box4", autoheight:true}
          //       ]
          //   }
          // };
          
          var resultBig = {
            id: "resultBig",
            // view:"dataview",
            view:"dataview",
            scroll:false,
            // rows:
            // [
            //   {view:"list", id:"title"}, 
            //   {view:"list", id:"release_date"} 
            // ],
				// elements:
				// [
				// // 	{ view:"image", name:"poster_path" },
				// 	{ view:"text", name:"title", label:"Title" },
				// 	{ view:"text", name:"release_date", label:"release_date" },
				// 	{ view:"text", name:"popularity", label:"popularity" },

				// ],
            // template: "html->item_big",
            container: "html->item_big",
            width: 400,
        //     scheme:{
    				// 	$init:function(obj) {
  					 //   if (obj.poster_path == null) {
    				// 	    webix.message('no IMG Path for this : ' + obj.title);
    				// 	    obj.poster_path = noIMG;
    				// 	  }
    				// 	  else {
      		// 			  if (obj.media_type == 'movie') {
        // 						obj.poster_path = baseIMG + tailleIMG + obj.poster_path;
      		// 			  }
      		// 			  else if (obj.media_type == 'tv') {
      		// 			    obj.title = obj.name;
      		// 			    obj.release_date = obj.first_air_date;
      		// 			    obj.poster_path = baseIMG + tailleIMG + obj.poster_path;
      		// 			  }
    				// 	  }
    				// 	}
    				// },
            // xCount: 1,
            // yCount: 1
          };
            
          var mainWindow = webix.ui({
            view: "window",
            id: "my_win",
            minHeight: 100,
            autoheight: true,
            minWidth: 400,
            autowidth: true,
            move: true,
            resize: true,
            // modal:true,
            animate:{type:"flip", subtype:"vertical"},
            head: {
              cols: [
                {
                  view: 'template',
                  template: 'Recherche Film(s) / Serie(s) (TheMovieDB)'
                },
                // { gravity: 1 },
                // {
                  
                // },
                { 
                  view:"button",
                  type: "htmlbutton",
                  css: 'webix_icon_button',
                  label: '<span class="fa fa-close"></span>',
                  autowidth:true,
                  click:('$$("s1").setValue("");$$("resultSearch").clearAll();$$("my_win").hide();')
                }
              ]
              // view:"button", type: "htmlbutton", label: '<span class="webix_icon fa-close"></span>', inputWidth:40, click:("$$('my_win').close();")
              // css: "icon_back_btn",
            },
            body: {
              rows: [
                header,
                {cols: [
                  resultSearch,
                  resultBig
                ]}
              ]
            }
          });
          
          mainWindow.show();
          
          $$('resultBig').bind($$('resultSearch'));
          
          
          // /*var getInfo =*/function getIngo() {
          //     webix.ajax(query, function(data) {
          //     var jsonData = JSON.parse(data);
              
          //     $$("resultSearch").parse(jsonData.results);
          //     // resultSearch.parse(jsonData.results);
              
          //     // webix.message(JSON.stringify(jsonData.results));
              
          //   });
          // };
          
          
          // function showResultSearch() {
          //   $$("s1").setValue("");
          //   $$("resultSearch").clearAll();
          //   $$("my_win").show();
          // }
          
          function majInfo() {
            $$("resultSearch").clearAll();
            
            var searchQuery = $$("s1").getValue().replace(' ', '+');
            if (searchQuery != "") {
              // query = baseQuery + searchQuery + apiKey + nbPage + language;
              query = baseQuery + searchQuery + apiKey + language;
              
              // getIngo;
              webix.ajax(query, function(data) {
                var jsonData = JSON.parse(data);
                
                $$("resultSearch").parse(jsonData.results);
                // resultSearch.parse(jsonData.results);
                
                // webix.message(JSON.stringify(jsonData.results));
                
              });
            }
          };
          
          $$('s1').attachEvent("onKeyPress", function(code, e) {
            if (code === 13 && !e.ctrlKey && !e.shiftKey && !e.altKey) {
              majInfo();
              return false;
            }
          });
          
          
          // webix.event($$("s1").$view, "keydown", function(){
          //   webix.delay(function(){
          //     query = baseQuery + $$("s1").getValue() + apiKey + nbPage + language;
          //     getInfo;
          //   });
          // });
          
          // resultSearch.waitData.then(function() {
          //   var data = baseIMG + tailleIMG;
          //   webix.message(data);
          // });
        });
        
        
      </script>
    </body>
</html>