<!DOCTYPE HTML>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="http://cdn.webix.com/edge/webix.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
    <style type="text/css">
      html, body {
        height: 100%;
        padding:0;
        margin:0;
      }
    </style>
    
    </head>
    <body>
      <script type="text/javascript" src="http://cdn.webix.com/edge/webix.js"></script>
      <div id="dataA"></div>
      <div id="dataB"></div>
      <div id="item_tpl" style="display:none;">
        <div style="font-size: x-small;">
          <div style="float:left;">
            <img src="#poster_path#"/>
          </div>
          <div style="padding: 25px 0px 0px 52px;margin-left: 50px;">
            <div class="webix_strong">#title#</div>
            <ul style="list-style-type:none;margin: 0px 30px 0px -10px;float:left;" >
              <li> Release date: #release_date#</li>
              <li>Popularity: #popularity#</li>
            </ul>
          </div>
        </div>
      </div>
      
      <script type="text/javascript" charset="utf-8">
        webix.ready(function(){
          
          
          var baseIMG = 'http://image.tmdb.org/t/p/';
          var tailleIMG = 'w92';
          var noIMG = 'https://assets.tmdb.org/assets/7f29bd8b3370c71dd379b0e8b570887c/images/no-poster-' + tailleIMG + '-v2.png';
          noIMG = 'https://assets.tmdb.org/assets/7f29bd8b3370c71dd379b0e8b570887c/images/no-poster-w185-v2.png';
          
          var query = 'http://api.themoviedb.org/3/search/multi?query=star+wars&api_key=030aa3a0192fff64bad4b5465fabcb11&page=1&language=fr&include_image_language=fr';
          
          webix.ui({
            view: "window",
            id: "my_win",
            minHeight: 100,
            height: 100,
            minWidth: 400,
            width: 400,
            move: true,
            resize: true,
            animate:{type:"flip", subtype:"vertical"},
            head: {
              cols: [
                { gravity: 3 },
                // {},
                { view:"button", width:80, badge:1, type:"icon", icon:"envelope", label:"Mail" },
                { view:"button", width:80, badge:12, type:"icon", icon:"users", label:"Users" },
                { view:"button", type: "htmlbutton", label: '<span class="webix_icon fa-close"></span>', inputWidth:40, click:("$$('my_win').close();") }
              ]
              // view:"button", type: "htmlbutton", label: '<span class="webix_icon fa-close"></span>', inputWidth:40, click:("$$('my_win').close();")
              // css: "icon_back_btn", 
            },
            body: {
              template: "Some text"
            }
          }).show();
          
          
          var header = webix.ui({
            container:"dataA",
              view: "template",
              template:"",
              type: "header",
              height: 5 ,
              rows: [
                // { container:"dataB", id: "s1", view: "search", placeholder: "Enter symbols to filter the dataview..", css: "demo_search"}
              
                { id: "s1", view: "search", placeholder: "Enter symbols to filter the dataview.."}
              ]
          });
          
          header.show();
          
          var search = webix.ui({
              view:"dataview",
              // container:"dataA",
              id: 'search',
              select: true,
              type: {
                width: 300,
                height: 150
              },
              template: "html->item_tpl",
              // template: "<img src='#poster_path#'><div class='webix_strong'>#title#</div> Year: #year#, rank: #rank#",
              
              scheme:{
      					$init:function(obj) {
    					    if (obj.poster_path == null) {
      					    webix.message('no IMG Path for this : ' + obj.title);
      					    obj.poster_path = noIMG;
      					  }
      					  else {
        					  if (obj.media_type == 'movie') {
          						obj.poster_path = baseIMG + tailleIMG + obj.poster_path;
        					  }
        					  else if (obj.media_type == 'tv') {
        					    obj.title = obj.name;
        					    obj.release_date = obj.first_air_date;
        					    obj.poster_path = baseIMG + tailleIMG + obj.poster_path;
        					  }
      					  }
      					}
      				},
              
              
          //     on: {
      				// 	onBeforeLoad: function() {
      				// 		this.showOverlay("Loading...");
      				// 	},
      				// 	onAfterLoad: function() {
      				// 		this.hideOverlay();
      				// 	}
      				// },
      				
      				// ready: function() {
      				// 	if (!this.count()) {
      				// 		webix.extend(this, webix.OverlayBox);
      				// 		this.showOverlay("<div style='margin:75px; font-size:20px;'>There is no data</div>");
      				// 	}
      				// },
              // url: query,
              xCount: 3, //the number of items in a row
              yCount: 3 //the number of items in a column
            });
          
          
          webix.ajax(query, function(data) {
            var jsonData = JSON.parse(data);
            
            // $$("dview").parse(data);
            search.parse(jsonData.results);
            
            // webix.message(JSON.stringify(jsonData.results));
            
          });
          
          // search.waitData.then(function() {
          //   var data = baseIMG + tailleIMG;
          //   webix.message(data);
          // });
        });
        
        
      </script>
    </body>
</html>