<!DOCTYPE HTML>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="http://cdn.webix.com/edge/webix.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
    <style type="text/css">
      html, body {
        height: 100%;
        padding:0;
        margin:0;
        overflow:hidden;
        background: url("Images/pexels-photo.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>
    
    </head>
    <body>
      <span class="fa fa-search" onclick='$$("s1").setValue("");$$("resultSearch").clearAll();$$("resultBig").clearAll();$$("my_win").show();'></span>
      
      <div id="dataA"></div>
      <div id="item_tpl" style="display:none;">
        <div style="font-size: x-small;">
          <div style="float:left;">
            <img src="#poster_path#"/>
          </div>
          <div style="float:right; margin: -24px 0px 0px 0px;">
            <p>(#media_type#)</p>
          </div>
          <div style="margin: 5px 0px 0px 100px;">
            <div class="webix_strong">#title#</div>
            <ul style="list-style-type:none; margin: 50px 0px 0px -35px;" >
              <li> Release date: #release_date#</li>
              <li>Popularity: #popularity#</li>
            </ul>
          </div>
        </div>
      </div>
      
      
      <div id="item_big" style="display:none; text-align: center;">
        <div class="webix_strong" style="text-align: center;">#title#</div>
        <div style="float:left; margin: 5px 0px 0px 10px;">
          <img src="#poster_path_Big#"/>
        </div>
        <div style="margin:20px 0px 0px 210px; font-size:x-small;">#overview#</div>
        <div class="webix_icon" style="text-align:center; position:absolute; bottom:0; margin:0px 0px 20px 0px;">
          <button>
            <span class="text"><i class="fa fa-check">OK</i></span>
          </button>
        </div>
      </div>
      
      <script type="text/javascript" src="/socket.io/socket.io.js"></script>
      <script type="text/javascript" src="http://cdn.webix.com/edge/webix.js"></script>
      
     <script type="text/javascript" src="http://cdn.rawgit.com/google/traceur-compiler/90da568c7aa8e53ea362db1fc211fbb4f65b5e94/bin/traceur.js"></script>
      <script type="text/javascript" src="/Javascript/system.js"></script>
      <!--<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.16/system.js"></script>-->
      <script type="text/javascript" charset="utf-8">
        System.config({
          baseURL: '/Javascript',
          transpiler: 'traceur'
        });
        
        System.import('Core.js');
      </script>
      
      <link rel="stylesheet" href="/Javascript/webixFileManager/FileManager.css" type="text/css" />
      
      <script type="text/javascript" charset="utf-8">
        webix.ready(function(){
          
          
        });
      </script>
    </body>
</html>